.container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  align-items: flex-start;

  color: var(--gray-2);
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.5;
  font-family: 'Metropolis', sans-serif;
}
.container div {
  width: 100%;
}
.container div input {
  width: 100%;
  border: 2px solid var(--gray-3);
  border-radius: 4px;
  padding: 0.5rem 0.75rem;

  background-color: var(--gray-1);
  color: var(--gray-12);
  font-size: 1rem;
  outline: none;
  font-family: 'Inter', sans-serif;
}
.container div input::placeholder {
  color: var(--gray-7);
}
.container div input:focus {
  border-color: var(--green-6);
}

.errorMessage {
  color: var(--red);
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
}
