.container {
  padding: 1rem 1.5rem;
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--gradient) !important;
  color: var(--white);

  font-size: 0.875rem;
  line-height: 1.1;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.container:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
.container:hover {
  background: var(--green-6) !important;
}
