.container {
  width: 100%;
  aspect-ratio: 3/2;
  border-radius: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.Health {
  background: url('../../assets/cardBgStripes.png') center/50%, #19972D;
}

.Tech {
  background: url('../../assets/cardBgStripes.png') center/50%, #1A3296;
}

.Beauty {
  background: url('../../assets/cardBgStripes.png') center/50%, #6F48C9;
}

.logo, .chip {
  position: absolute;
  width: 4rem;
  height: 4rem;
  left: 1rem;
  top: 1rem;
}

.chip {
  left: auto;
  right: 1rem;
  top: 1rem;
}

.content {
  padding: 1rem;
  z-index: 100;
}

.content p {
  font-size: 1.5rem;
  font-family: 'Metropolis', sans-serif;
  font-weight: 800;
  line-height: 1;
}

.number {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.number > button {
  border: none;
  background-color: transparent;
}

.security {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: space-between;
}

@media (max-width: 800px) {
  .container {
    max-width: 26.25rem;
  }
}

@media(max-width: 600px) {
  .content p {
    font-size: 1.125rem;
  }
}
