.containerHome {
  max-width: 56.25rem;
  width: 100%;
  padding: 3.75rem 1.25rem;
  margin: 0 auto;
}

.userInfo > div {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem 1.25rem;
  margin-bottom: 1rem;
}
.userInfo p {
  font-size: 1.25rem;
  line-height: 1.5;
}
.userInfo h1 {
  font-size: 2.5rem;
  line-height: 1.1;
  font-weight: 500;
  margin-bottom: 2rem;
}

.balance {
  display: grid;
  gap: 0.5rem;

  padding: 1.25rem;
  background-color: var(--gray-12);
  border-radius: 8px;
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 800;
}

.balance > p {
  font-size: 1rem;
  color: var(--gray-6);
}

.balance > button {
  justify-self: start;
  margin-top: 0.75rem;
}

.partners {
  padding-top: 2.5rem;
  margin-top: 2.5rem;
  border-top: 2px solid var(--gray-10);
}

.partners h2 {
  font-size: 2rem;
  line-height: 1.1;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.partners > p {
  font-size: 1rem;
  line-height: 1.5;
  color: var(--gray-6);
  margin-bottom: 1rem;
}

.partners ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.25rem;
  padding: 0px;
}
.partners ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--gray-12);
  padding: 1.25rem;
  border-radius: 8px;
}
.partners ul li span {
  text-align: center;
}

@media(max-width: 660px) {
  .userInfo > div {
    flex-direction: column;
  }

  .userInfo h1 {
    font-size: 2rem;
  }
}