:root {
  --white: #fff;
  --black: #000;

  --gray-1: #F7F7F7;
  --gray-2: #EDEDED;
  --gray-3: #DEDEDE;
  --gray-4: #CCCCCC;
  --gray-5: #B2B2B2;
  --gray-6: #9C9C9C;
  --gray-7: #717171;
  --gray-8: #595959;
  --gray-9: #404040;
  --gray-10: #2E2E2E;
  --gray-11: #1A1A1A;
  --gray-12: #0E0E0E;

  --green-3: #19972D;
  --green-6: #026E00;
  --gradient: linear-gradient(180deg, #026E00 0%, #024D00 100%);

  --red: #F75A68;

  --blue-100: #cad8dd;
  --blue-200: #9fb7bf;
  --blue-300: #07b0f2;
  --blue-400: #768e97;
  --blue-500: #223840;
  --blue-600: #213238;

  --pink-400: #FF45EC;
}

@font-face {
  font-family: 'Metropolis';
  src: url('./fonts/Metropolis-Bold.ttf') format('truetype'),
       url('./fonts/Metropolis-Bold.woff') format('woff'),
       url('./fonts/Metropolis-Medium.ttf') format('truetype'),
       url('./fonts/Metropolis-Medium.woff') format('woff');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--gray-11);
  color: var(--gray-1);
  --webkit-font-smoothing: antialiased;
}

body, input, button, textarea {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

h1, h2, h3, h4, h5, h6, a {
  font-family: 'Metropolis', sans-serif;
  font-weight: 800;
  line-height: 1.1;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul, p, legend {
  margin: 0;
  padding: 0;
  list-style: none;
}
