.container {
  max-width: 75rem;
  width: 100%;
  padding: 3.75rem 1.25rem;
  margin: auto;
}

.intro {
  margin-bottom: 3.75rem;
}

.intro > h1 {
  margin-bottom: 2rem;

  color: var(--white);
  font-weight: 800;
  font-size: 4rem;
  line-height: 1.1;
  text-align: center;
}

.intro > p {
  color: var(--gray-5);
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: center;
}

.options {
  width: fit-content;
  padding: 0.5rem;
  margin-bottom: 2.5rem;
  border-radius: 999px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  overflow: hidden;

  background-color: var(--gray-12);
}

.options > button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 999px;

  background-color: transparent;
  font-family: 'Metropolis', sans-serif;
  font-size: 1.125rem;
  font-weight: 800;
  line-height: 1;
  color: var(--white);
}

.content > article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
}

.description > ul > li {
  max-width: 28.75rem;
  margin-bottom: 1.25rem;
  display: flex;
  gap: 0.5rem;
  align-items: baseline;

  color: var(--gray-1);
  font-size: 1.125rem;
  line-height: 1.5;
}
.description > ul > li > span {
  flex-shrink: 0;
  display: block;
  width: 12px;
  height: 6px;
}

@media(max-width: 660px) {
  .intro {
    margin-bottom: 2rem;
  }

  .intro > h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
  }

  .options {
    margin-bottom: 1.25rem;
  }

  .content > article {
    grid-template-columns: 1fr;
    gap: 2.5rem;
  }

  .image {
    grid-row: 1 / 2;
  }
}